.upcoming-kikk__popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999999999999999;
  display: none;
}

.upcoming-kikk__popup * {
  box-sizing: initial;
}

.upcoming-kikk__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .85);
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.upcoming-kikk__content-wrapper {
  position: absolute;
  max-height: 68vh;
  overflow: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 700px;
  background-color: white;
  padding: 55px 0;
}

.upcoming-kikk__content {
  width: calc(100% - 40px);
  max-width: 540px;
  margin: 0 auto;
  padding: 0 20px;
  color: black;
}

.upcoming-kikk__close {
  height: 36px;
  width: 36px;
  padding: 0;
  background: transparent;
  border: 0;
  border-radius: 0;
  position: absolute;
  top: 54px;
  right: 75px;
  cursor: pointer;
}

.upcoming-kikk__close::before,
.upcoming-kikk__close::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  display: inline-block;
  height: 2px;
  width: 16px;
  background-color: black;
}

.upcoming-kikk__close::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.upcoming-kikk__close::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.upcoming-kikk__date {
  font-size: 15px;
  color: black;
  font-family: arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
  margin: 0;
  padding-right: 40px;
  line-height: 1;
}

.upcoming-kikk__location {
  font-size: 10px;
  color: rgba(0, 0, 0, .5);
  font-family: arial, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2em;
  margin: 6px 0 0;
  padding-right: 40px;
  line-height: 1.5;
}

.upcoming-kikk__title {
  font-size: 45px;
  color: black;
  font-family: arial, sans-serif;
  font-weight: 700;
  letter-spacing: -.03em;
  margin: 40px 0;
  line-height: 1.15;
}

.upcoming-kikk__text {
  font-size: 15px;
  color: #858585;
  font-family: arial, sans-serif;
  font-weight: 400;
  margin: 0;
  line-height: 1.66;
}

.upcoming-kikk__button {
  display: inline-block;
  padding: 15px 20px;
  background-color: black;
  font-size: 12px;
  color: white;
  font-family: arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
  margin: 30px 0 0;
  text-decoration: none;
  line-height: 1.5;
}

@media screen and (max-width: 640px) {
  .upcoming-kikk__close {
    right: 10px;
  }

  .upcoming-kikk__title {
    font-size: 30px;
    margin: 25px 0;
  }

  .upcoming-kikk__date,
  .upcoming-kikk__location {
    padding-right: 30px;
  }
}
