.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 100px;
  background: #0e0e0e;
  color: #fff; }
  .footer a {
    color: #fff; }
  .footer .footer-quote {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px; }
    .footer .footer-quote img {
      height: 45px;
      display: block;
      margin-bottom: 20px; }
    .footer .footer-quote h2 {
      font-size: 3vw;
      font-weight: 800;
      margin-bottom: 20px;
      color: #01f7b6; }
    .footer .footer-quote .footer-cta {
      font-family: 'Fjalla One', sans-serif;
      text-transform: uppercase;
      border-bottom: 1px solid #fff;
      padding-bottom: 3px; }
      .footer .footer-quote .footer-cta:hover {
        text-decoration: none;
        color: #01f7b6;
        border-color: #01f7b6; }
  .footer .footer-contact {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px; }
    .footer .footer-contact address {
      margin-bottom: 0; }
    .footer .footer-contact a {
      color: #fff;
      text-decoration: underline; }
      .footer .footer-contact a:hover {
        text-decoration: none; }
  .footer .footer-bottom {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px; }
    .footer .footer-bottom p {
      margin: 0;
      margin-top: 30px;
      opacity: 0.5;
      font-size: 13px; }
    .footer .footer-bottom h5 {
      margin-bottom: 10px;
      font-family: 'Fjalla One', sans-serif;
      text-transform: uppercase;
      color: #01f7b6; }
    .footer .footer-bottom ul {
      display: block;
      margin: 0;
      padding: 0; }
      .footer .footer-bottom ul li {
        display: inline-block;
        margin: 0;
        margin-right: 20px;
        padding: 0;
        list-style: none; }
        .footer .footer-bottom ul li:last-child {
          margin-right: 0; }
        .footer .footer-bottom ul li a {
          position: relative;
          color: #fff;
          font-size: 14px;
          font-weight: 600;
          padding-bottom: 6px;
          -webkit-transition: .25s ease-in-out;
          -moz-transition: .25s ease-in-out;
          -ms-transition: .25s ease-in-out;
          -o-transition: .25s ease-in-out;
          transition: .25s ease-in-out;
          border-bottom: 2px solid transparent; }
          .footer .footer-bottom ul li a:hover {
            padding-bottom: 1px;
            border-bottom: 2px solid #fff;
            text-decoration: none; }


